<h1>Profile</h1>

<div> User name: <%= @user.name %> | User email: <%= @user.email %> | User bio: <%= @user.bio %> </div>
<% if current_user.present? && current_user == @user %>
  <%= link_to 'Edit profile', edit_user_path(current_user),class:"btn btn-outline-secondary"  %>
<% end %>
<br>
<%= link_to "Posts of a user", user_posts_path(@user) %>
<h1>
<% if current_user.present? && current_user != @user %>
  <%  if Follow.find_by(follower: current_user, following:  @user).blank? %>
    <%= link_to  follows_path(following_id: @user.id), method: :post do %>
        Follow <i class="fas fa-user-friends"></i>
    <% end %>
  <% else %>
    <%= link_to follow_path(following_id: @user.id), method: :delete do %>
        UnFollow <i class="fas fa-users-slash"></i>
    <% end %>
  <% end %>
<% end %>
</h1>


  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <div class="card-header">User following:</div>
      <% @user.followings.each do |flw| %>
         <li class="list-group-item"><%= link_to flw.name, user_path(flw) %></li>
      <% end %>
    </ul>
  </div>
</br>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <div class="card-header">User follower:</div>
      <% @user.followers.each do |flw| %>
        <li class="list-group-item"><%= link_to flw.name, user_path(flw) %></li>
      <% end %>
    </ul>
  </div>