<h1><%= @kind %></h1>
<ul class="pagination justify-content-center">
  <%= paginate @posts %>
</ul>
<div class="row">
  <% @posts.each do |post| %>
    <div class="card" style="width: 23rem;">
      <div class="card-body">
        <%= link_to (image_tag post.image_url(:thumbnail)), user_post_path(post.user, post), class: "card-img-top" %>
        <h4 class="card-title">Author: <%= link_to post.user.name, user_path(post.user) %> </h4>
        <% if user_signed_in? %>
          <%= render 'likes/likes_form', post: post %>
        <% else %>
          | <i class="far fa-thumbs-up"></i> : <%= post.likes.count %>
        <% end %>
        <p class="card-text"> Comments: <%= post.comments.count %>
        <p>
        <p class="card-text"><%= post.description %></p>
        <div class="card-bottom">
          <%= link_to 'Show', user_post_path(post.user, post), class: "btn btn-outline-secondary" %>
          <% if user_signed_in? %>
            <% if policy(post).update? %>
              <%= link_to 'Edit', edit_user_post_path(post.user, post), class: "btn btn-outline-warning" %>
            <% end %>
            <% if policy(post).destroy? %>
              <%= link_to 'Destroy', user_post_path(post.user, post),
                          method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
<br>
<ul class="pagination justify-content-center">
  <%= paginate @posts %>
</ul>
<% if user_signed_in? %>
  <%= link_to 'My Posts', user_posts_path(current_user), class: "btn btn-outline-success" %>
  <%= link_to 'New Post', new_user_post_path(current_user), class: "btn btn-outline-primary" %>
<% end %>
