<p>  <strong>Title: </strong> <%= @post.title %> </p>
<p>  <strong>Description: </strong> <%= @post.description %> </p>
<p> <strong>Author: </strong>
  <%= link_to @post.user.name, user_path(@post.user) %>
</p>
<p>
  <%= link_to (image_tag @post.image_url(:big_thumbnail)), (@post.image_url), class: "card-link", target: :_blank %>
</p>

<% @comments.each do |comment| %>
  <p>

  <div class="card">
    <div class="card-body">
      <p><strong><%= link_to comment.user.name, user_path(comment.user), class: "card-link" %>
        : </strong> <%= comment.commentary %><p>
    </div>
  </div>
<% end %>

</br>

<% if user_signed_in? %>
  <%= render 'likes/likes_form', post: @post %>
  </br>
  <%= render 'comments/comments_form', post: @post, comment: @comment %>
<% else %>
  <p> For comments and likes need <%= link_to 'Log in', new_user_session_path %> </p>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_user_post_path(@user, @post), class: 'btn btn-warning' if policy(@post).update? %>
  <%= link_to 'Destroy', user_post_path(@post.user, @post),
              method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if policy(@post).destroy? %>
<% end %>
<%= link_to 'All posts of the user', user_posts_path(@user), class: 'btn btn-info' %>
