<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @post.image_url %>
</p>

  <% for comment in @comments %>
  <p>
    <strong>Comment:</strong>
    <%= comment.commentary %>
    <strong>Autor:</strong>
    <%= comment.user.email %>
  </p>
  <% end %>

</br>

<% if user_signed_in? %>
  <% if Like.find_by(current_user, @post) %>
   <p>
    <%= link_to "Like", likes_path(@post), method: :post %>
  </p>
  <% else %>
    <%= link_to "UnLike", like_path(@post), method: :delete %>
  <% end %>
  </br>
    <%= render 'comments_form', comment: @comment %>
<% else %>
  <p> For comments and likes need log in </p>
<%end %>



<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
