<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @post.user.name, user_path(@post.user) %>
</p>

<p>
  <strong>Image data:</strong>
  <%= link_to (image_tag @post.image_url(:big_thumbnail)), (@post.image_url), class:"card-link", target: :_blank %>
</p>

  <% @comments.each do |comment| %>
  <p>

  <div class="card">
    <div class="card-body">
      <p><strong><%= link_to comment.user.name, user_path(comment.user) , class:"card-link" %>:   </strong> <%= comment.commentary %><p>
    </div>
  </div>
  <% end %>

</br>

<% if user_signed_in? %>
  <% unless Like.find_by(post_id: @post.id, user_id: current_user.id) %>
   <h1>
    <%= link_to likes_path(id: @post.id), method: :post do %>
       <i class="far fa-thumbs-up"></i> <%= Like.where(post_id: @post.id).count %>
    <% end %>
  </h1>
  <% else %>
    <h1>
    <%= link_to like_path(id: @post.id), method: :delete do %>
      <i class="fas fa-thumbs-up"></i><%= Like.where(post_id: @post.id).count %>
      <% end %>
    </h1>
  <% end %>
  </br>
    <%= render 'comments_form', comment: @comment %>
<% else %>
  <p> For comments and likes need <%= link_to 'Log in', new_user_session_path %> </p>
<%end %>


<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
